@model ScrumProjekt.Models.IndexViewModel

<h2>Inställningar</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div style="margin-top: 60px;">
    <h4>Här kan du ändra din kontoinformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Lösenord:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Ändra ditt lösenord", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Kontoinformation:</dt>
        <dd> 
            [
            @Html.ActionLink("Ändra din kontoinformation", "Edit") 
            ]
        </dd>
    </dl>
</div>

